body {
  margin: 0;
  background: linear-gradient(to bottom, #70c5ce, #ffffff);
  overflow: hidden;
}
canvas {
  display: block;
  margin: auto;
  background: linear-gradient(to bottom, #87ceeb, #fff);
  box-shadow: 0 0 20px rgba(0,0,0,0.3);
  border-radius: 12px;
}
